<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Indira processing details</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Temp</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Indira processing details</h3>
        </div>
 
      <!--  <div class="jumbotron">
            <h1>Indira processing details</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>
        -->
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Topology created:</h4>
                    <img src="/static/topology_graph.png"  />


                <h2>Intent Details:</h2>
               <!-- <img src="{{ url_for('static', filename='inputintent.png') }}"></img>-->
                <img src="/static/inputintent-dot.png" width="800" height="100" />
                <p></p>
                <h4>Parsed to following:</h4>
                  <img src="/static/parsedintent.dot.png" width="700" height="100" />
                    <p></p>
                    <h4>Rendered to following</h4>
                  <img src="/static/renderintent.dot.png" width="800" height="100" />

                  <h4>Natural language analysis: (place holder)</h4>
                  <p><table>
                        <tr>
                            <td>
                        <div style="word-wrap: break-word; width: 800px">
                    ['FOR', 'admin', 'connect', 'anl', 'lbl', 'condition', 'nobwlimit', 'schedulestart', 'now']
                </div>
              <div style="word-wrap: break-word; width: 800px">
[('FOR', 'IN'), ('admin', 'JJ'), ('connect', 'NN'), ('anl', 'NN'), ('lbl', 'JJ'), ('condition', 'NN'), ('nobwlimit', 'IN'), ('schedulestart', 'NN'), ('now', 'RB')]
(S
  FOR/IN
  admin/JJ
  connect/NN
  anl/NN
  lbl/JJ
  condition/NN
  nobwlimit/IN
  schedulestart/NN
  now/RB)  </div>
        </td>
    </tr>
</table>

                  </p>



 
               <!-- <h4>Bucket List</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
 
                <h4>Bucket List</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
            </div>
 
            <div class="col-lg-6">
                <h4>Bucket List</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
 
                <h4>Bucket List</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>
 
                <h4>Bucket List</h4>
                <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>-->

            </div>
        </div>
 
        <footer class="footer">
            <!--<p>&copy; Company 2015</p>-->
        </footer>
 
    </div>
</body>
 
</html>
