<!DOCTYPE html>
    <html>
    <head>
    <title>Parsed Intent</title>
    <meta name="description" content="A concept map diagram ." />
    <meta charset="UTF-8">
    <script src="go.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.6.7/go-debug.js"></script>

    <link href="../assets/css/goSamples.css" rel="stylesheet" type="text/css" />  
    <script src="goSamples.js"></script> 
    <script id="code">
    function init() {
    if (window.goSamples) goSamples();  // init for these samples -- you don't need to call this
    var $ = go.GraphObject.make;  // for conciseness in defining templates
    myDiagram =
    $(go.Diagram, "myDiagramDiv",  // must name or refer to the DIV HTML element
      {

      initialAutoScale: go.Diagram.Uniform,  // an initial automatic zoom-to-fit

      contentAlignment: go.Spot.Center,  // align document to the center of the viewport

      layout:

      $(go.ForceDirectedLayout,  // automatically spread nodes apart

        { defaultSpringLength: 30, defaultElectricalCharge: 100 })

      });

    // define each Node's appearance

    myDiagram.nodeTemplate =
    $(go.Node, "Auto",  // the whole node panel
      { locationSpot: go.Spot.Center },
      // define the node's outer shape, which will surround the TextBlock

      $(go.Shape, "Rectangle",
        { fill: $(go.Brush, "Linear", { 0: "rgb(254, 201, 0)", 1: "rgb(254, 162, 0)" }), stroke: "black" }),
        $(go.TextBlock, 
        { font: "bold 10pt helvetica, bold arial, sans-serif", margin: 4 },
        new go.Binding("text", "text"))
      );
      // replace the default Link template in the linkTemplateMap
      myDiagram.linkTemplate =
      $(go.Link,  // the whole link panel
        $(go.Shape,  // the link shape
          { stroke: "black" }),
          $(go.Shape,  // the arrowhead
            { toArrow: "standard", stroke: null }),
            $(go.Panel, "Auto",
              $(go.Shape,  // the label background, which becomes transparent around the edges
                { fill: $(go.Brush, "Radial", { 0: "rgb(240, 240, 240)", 0.3: "rgb(240, 240, 240)", 1: "rgba(240, 240, 240, 0)" }),
                stroke: null }),
            $(go.TextBlock,  // the label text
              { textAlign: "center",
              font: "10pt helvetica, arial, sans-serif",
              stroke: "#555555", margin: 4 },
              new go.Binding("text", "text"))
                ));
            // create the model for the concept map
   var nodeDataArray = [{ key:0, text: 'CONNECT' },{ key:1, text: 'SCHEDULESTOP' },{ key:2, text: '[project1]' },{ key:3, text: 'SCHEDULESTART' },{ key:4, text: 'anl' },{ key:5, text: 'lbl' },{ key:6, text: '2016-11-15->17.00.00' },{ key:7, text: 'now' },{ key:8, text: 'bwnolimit' },{} ];    var linkDataArray = [{ from:0, to:4, text: 'ex:hasArguments'},{ from:0, to:5, text: 'ex:hasArguments'},{ from:1, to:6, text: 'ex:hasArguments'},{ from:2, to:3, text: 'ex:hasCondition'},{ from:3, to:7, text: 'ex:hasArguments'},{ from:2, to:0, text: 'ex:hasService'},{ from:2, to:8, text: 'ex:hasCondition'},{ from:2, to:1, text: 'ex:hasCondition'},{} ];    
        myDiagram.model = new go.GraphLinksModel(nodeDataArray, linkDataArray);
        }
        </script>
        </head>
        <body onload="init()">
        <div id="sample">
        <h3>Parsed Intent</h3>
        <div id="myDiagramDiv" style="background-color: whitesmoke; border: solid 1px black; width: 100%; height: 700px"></div>
        <p>
        The intermediate parsing of intent, removing likable conditions, conflicting services and correcting some provisions.
        </p>
        </div>
        </body>
        </html>